node_modules
npm-debug.log
dist
.env.local
.env.*.local
.git
.gitignore
README.md
.dockefiles
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
coverage
.nyc_output
.jest
prisma/dev.db
prisma/dev.db-journal
.env.test
.env.test.local
